<!-- <table class="table">
  <thead>
    <tr>
      
      <th>Start Day</th>
      <th>End Day</th>
     
      <th>Update</th>
      <th>Delete</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of dataSource let i = index">
      
      <td>{{ reservation.reservation_start_date }}</td>
      <td>{{ reservation.reservation_end_date }}</td>
      
     
      <td><i class="fa-solid fa-pencil"  (click)="updateReservation(reservation.id)" ></i></td>
      <td><i class="fa-solid fa-trash" (click)="deleteReservtion(reservation.id)"></i></td>
      
    </tr>
  </tbody>
</table> -->