.table {
    
    width: 100%;
   
  }
  .table th, .table td {
    padding: 8px;
    border-bottom: 1px solid #fff9f9;
    text-align: left;
  }
  .table th {
    background-color: #b1aeae;
  }
  .table tr:hover {
    background-color: #111010;
  }