<div class="container">
  <div class="section1">
    <h1>{{currentUser.firstName}} Dashboard</h1>
    <div class="date-container">
      <p>{{ today | date: 'fullDate' }}</p>
    </div>
    <div class="spacer"></div>
    <div class="grid-container">
      <div class="seat-item" *ngFor="let seat of places" [id]="'seat-' + seat.id"
           (click)="openDialog('270ms', '270ms', seat.id)">
        <p>Seat No. {{ seat.id }}</p>
        <img src="assets/photos/Group 1.png" class="small-image">
      </div>
    </div>
    
    
  </div>

  <div class="section2">
    <div class="calendar-container" *ngIf="reservations">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar
          [dateClass]="isReservedDay"
          [dateFilter]="weekendDisable"
          [(selected)]="selected"
          (click)="handleCalendarClick(selected)">
        </mat-calendar>
      </mat-card>
    </div>

    <div class="reservation-view" [hidden]="!showDiv">
      <div class="card" *ngIf="selectedReservation">
        <div class="card-header">Brief Info:</div>
        <div class="card-body">
          <p><strong>Start Day:</strong> {{ selectedReservation.reservation_start_date | date }}</p>
          <p><strong>End Day:</strong> {{ selectedReservation.reservation_end_date | date }}</p>
        </div>
      </div>
    </div>


   
  </div>
  <div class="today-schedule bottom-right" [hidden]="!reservationCheck">
    <div class="card">
      <div class="card-header">Today's reservation</div>
      <div class="card-body">
        <h5>Until : {{reservationInfo?.reservationEndDate | date}}</h5>

      <img src="assets/photos/Group 1.png" class="small-image">
      <hr>
      Seat No. {{reservationInfo?.placeNumber}}
      </div>
    </div>
  </div>
  
</div>
